<h4>General</h4>
<ul role="wiki-main-navigation" aria-label="Wiki main navigation">
  <%= nav_link_to("Home", "/wiki/") %>
	<%= nav_link_to("How to Hack", "/wiki/how-to-hack/") %>
	<%= nav_link_to("The Challenges", "/wiki/challenges/") %>
	<%= nav_link_to("Get Help", "/wiki/get-help/") %>
</ul>

<hr>

<h4>Sponsors</h4>
<ul role="wiki-sponsors-navigation" aria-label="Wiki sponsors navigation">
  <%= nav_link_to("The Lab by O2", "/wiki/thelab/") %>
  <%= nav_link_to("Heroku", "/wiki/heroku/") %>
  <%= nav_link_to("Nokia", "/wiki/nokia/") %>
  <%= nav_link_to("Windows", "/wiki/windows/") %>
  <%= nav_link_to("PayPal", "/wiki/paypal/") %>
  <%= nav_link_to("GoThinkBig", "/wiki/gothinkbig/") %>
  <%= nav_link_to("Yahoo!", "/wiki/yahoo/") %>
  <%= nav_link_to("TechSmith", "/wiki/techsmith/") %>
  <%= nav_link_to("Equal Experts", "/wiki/equalexperts/") %>
  <%= nav_link_to("MailJet", "/wiki/mailjet/") %>
  <%= nav_link_to("GitHub", "/wiki/github/") %>
  <%= nav_link_to("BBC R&D", "/wiki/bbcrd/") %>
</ul>