<h4>General</h4>
<ul role="wiki-main-navigation" aria-label="Wiki main navigation">
  <%= nav_link_to("Home", "/almanac/") %>
  <%= nav_link_to("Schedule", "/almanac/schedule/") %>
<!--   <%= nav_link_to("Food", "/almanac/food/") %>
  <%= nav_link_to("Badges &amp; Wristbands", "/almanac/shield/") %>
  <%= nav_link_to("Get Help", "/almanac/get-help/") %> -->
  <%= nav_link_to("Q&As", "/almanac/questions/") %>
</ul>

<hr>

<h4>Learn</h4>
<ul role="wiki-main-navigation" aria-label="Wiki main navigation">
  <%= nav_link_to("Presentations", "/almanac/presentations/") %>
  <%= nav_link_to("Workshops", "/almanac/workshops/") %>
  <%= nav_link_to("Lightning Talks", "/almanac/lightning_talks/") %>
</ul>


<hr>

<h4>Build</h4>
<ul role="wiki-main-navigation" aria-label="Wiki main navigation">
  <%= nav_link_to("How to hack?", "/almanac/how-to-hack/") %>
  <%= nav_link_to("Challenges", "/almanac/challenges/") %>
<!--   <%= nav_link_to("Network &amp; Electrics", "/almanac/thunder/") %>
  <%= nav_link_to("Private Repositories", "/almanac/repositories/") %> -->
</ul>

<hr>

<h4>Sponsors</h4>
<ul role="wiki-sponsors-navigation" aria-label="Wiki sponsors navigation">
  <%= nav_link_to("The Lab by O2", "/almanac/thelab/") %>
  <%= nav_link_to("Heroku", "/almanac/heroku/") %>
  <%= nav_link_to("Nokia & Windows", "/almanac/nokia_and_windows/") %>
  <%= nav_link_to("PayPal", "/almanac/paypal/") %>
  <%= nav_link_to("GoThinkBig", "/almanac/gothinkbig/") %>
  <%= nav_link_to("Yahoo!", "/almanac/yahoo/") %>
  <%= nav_link_to("TechSmith", "/almanac/techsmith/") %>
  <%= nav_link_to("Equal Experts", "/almanac/equalexperts/") %>
  <%= nav_link_to("MailJet", "/almanac/mailjet/") %>
  <%= nav_link_to("GitHub", "/almanac/github/") %>
</ul>

<hr>

<h4>Partners</h4>
<ul role="wiki-sponsors-navigation" aria-label="Wiki sponsors navigation">
  <%= nav_link_to("BBC R&D", "/almanac/bbcrd/") %>
  <%= nav_link_to("Philips Hue", "/almanac/philips/") %>
</ul>